# Two Pointers

## Eliminating Pairs

Problem: Two Sum

DESCRIPTION
Given a sorted array of integers nums, determine if there exists a pair of numbers that sum to a given target.

Example: Input: nums = [1,3,4,6,8,10,13], target = 13  
Output: True (3 + 10 = 13)

Input: nums = [1,3,4,6,8,10,13], target = 6  
Output: False

### Solutions

In [105]:
nums = [1,3,4,6,8,10,13]
target = 13

In [9]:
# O(n^2)
def isPairSum(nums, target):
    for i in nums:
        for j in nums[1:]:
            if i + j == target:
                return True
    return False

In [10]:
isPairSum(nums, target)

True

In [106]:
# O(n)
def isPairSum(nums, target):
    i, j = 0, len(nums) - 1
    while i < j:
        if nums[i] + nums[j] == target:
            return True
        elif nums[i] + nums[j] > target:
            j -= 1
        else:
            i += 1
    return False

In [107]:
isPairSum(nums, target)

True

## Container with Most Water
DESCRIPTION (credit Leetcode.com)
Given an integer input array heights representing the heights of vertical lines, write a function that returns the maximum area of water that can be contained by two of the lines (and the x-axis). The function should take in an array of integers and return an integer.

EXAMPLES  
Example 1:  
Inputs:  
heights = [3,4,1,2,2,4,1,3,2]
Output:  
21

Example 2:  
Inputs:  
heights = [1,2,1]  
Output:  
2

In [109]:
heights = [3,4,1,2,2,4,1,3,2]

In [110]:
def getContainer(heights):
    i, j = 0, len(heights) - 1
    maxArea = 0
    while i < j:
        area = (j - i) * min(heights[i], heights[j])
        if area > maxArea:
            maxArea = area
            if heights[i] < heights[j]:
                i += 1
            elif heights[i] > heights[j]:
                j -= 1
            else:
                i += 1
    return maxArea

In [111]:
max_area(heights)

21

In [112]:
heights = [1, 2, 1]
max_area(heights)

2

## 3-Sum
DESCRIPTION (credit Leetcode.com)  
Given an input integer array nums, write a function to find all unique triplets [nums[i], nums[j], nums[k]] such that i, j, and k are distinct indices, and the sum of nums[i], nums[j], and nums[k] equals zero. Ensure that the resulting list does not contain any duplicate triplets.

EXAMPLES  
Input:  
nums = [-1,0,1,2,-1,-1]  
Output:  
[[-1,-1,2],[-1,0,1]]  

Explanation: Both nums[0], nums[1], nums[2] and nums[1], nums[2], nums[4] both include [-1, 0, 1] and sum to 0. nums[0], nums[3], nums[4] ([-1,-1,2]) also sum to 0.  

Since we are looking for unique triplets, we can ignore the duplicate [-1, 0, 1] triplet and return [[-1, -1, 2], [-1, 0, 1]].  

The order of the triplets and the order of the elements within the triplets do not matter.

In [125]:
nums = [-1,0,1,2,-1,-1]

In [132]:
def three_sum(nums: list[int]):
    result = list()
    nums.sort()
    for k in range(len(nums) - 2):
        if k > 0 and nums[k] == nums[k - 1]:
            continue
        i, j = k + 1, len(nums) - 1
        total = nums[i] + nums[j] + nums[k]
        while i < j:
            if total > 0:
                j -= 1
            elif total < 0:
                i += 1
            else:
                result.append([nums[i], nums[j], nums[k]])
                i += 1
                j -= 1
                while i < j and nums[i] == nums[i - 1]:
                    i += 1
                while i < j and nums[j] == nums[j + 1]:
                    j -= 1
    return result

In [133]:
three_sum(nums)

[[-1, -1, 2], [-1, 0, 1]]

## Triangle Numbers

DESCRIPTION (credit Leetcode.com)  
Write a function to count the number of triplets in an integer array nums that could form the sides of a triangle. The triplets do not need to be unique.

EXAMPLES  
Input:  
nums = [11,4,9,6,15,18]  
Output:  
10  
Explanation: Valid combinations are...  
4, 15, 18  
6, 15, 18  
9, 15, 18  
11, 15, 18  
9, 11, 18  
6, 11, 15  
9, 11, 15  
4, 6, 9

In [165]:
nums = [11,4,9,6,15,18]

In [163]:
# [4, 6, 9, 11, 15, 18]
# [18, 15, 11, 9, 6, 4]
def triangle(nums):
    count = 0
    nums.sort()
    for k in range(len(nums) - 1, 1, -1):
        i, j = 0, k - 1
        while i < j:
            if nums[i] + nums[j] > nums[k]:
                count += (j - i)
                j -= 1
            else:
                i += 1
    return count

In [164]:
triangle(nums)

10

## Pointers as Regions

### Move Zeroes
DESCRIPTION (credit Leetcode.com)  
Given an integer array nums, write a function to rearrange the array by moving all zeros to the end while keeping the order of non-zero elements unchanged. Perform this operation in-place without creating a copy of the array.

EXAMPLES  
Input:  
nums = [2,0,4,0,9]  

Output:  
[2,4,9,0,0]

In [24]:
# nums = [2,4,9,0,0]
nums = [2,0,4,0,9]

In [25]:
def move_zeroes(nums):
    j = 0
    for i in range(len(nums)):
        if nums[i] != 0:
            nums[i], nums[j] = nums[j], nums[i]
            j += 1
    return nums

In [26]:
move_zeroes(nums)

[2, 4, 9, 0, 0]

### Sort Colors
DESCRIPTION (credit Leetcode.com)  
Write a function to sort a given integer array nums in-place (and without the built-in sort function), where the array contains n integers that are either 0, 1, and 2 and represent the colors red, white, and blue. Arrange the objects so that same-colored ones are adjacent, in the order of red, white, and blue (0, 1, 2).

EXAMPLES  
Input:  
nums = [2,1,2,0,1,0,1,0,1]  

Output:  
[0,0,0,1,1,1,1,2,2]

In [43]:
nums = [2,1,2,0,1,0,1,0,1]

In [46]:
def sortColors(nums):
    i, j, k = 0, 0, len(nums) - 1
    while j < k:
        if nums[j] == 0:
            nums[i], nums[j] = nums[j], nums[i]
            i += 1
            j += 1
        elif nums[j] == 1:
            j += 1
        else:
            nums[j], nums[k] = nums[k], nums[j]
            k -= 1
    return nums

In [47]:
sortColors(nums)

[0, 0, 0, 1, 1, 1, 1, 2, 2]

### Trapping Rain Water

DESCRIPTION (credit Leetcode.com)  
Write a function to calculate the total amount of water trapped between bars on an elevation map, where each bar's width is 1. The input is given as an array of n non-negative integers height representing the height of each bar.

EXAMPLES
Input:  
height = [3, 4, 1, 2, 2, 5, 1, 0, 2]  

Output:  
10

In [14]:
height = [3, 4, 1, 2, 2, 5, 1, 0, 2]

In [15]:
def trappingWater(height):
    left, right = 0, len(height) - 1
    left_max, right_max = height[left], height[right]
    totalWater = 0

    while left + 1 < right:
        if left_max < right_max:
            left += 1
            if height[left] > left_max:
                left_max = height[left]
            else:
                totalWater += left_max - height[left]
        else:
            right -= 1
            if height[right] > right_max:
                right_max = height[right]
            else:
                totalWater += right_max - height[right]

    return totalWater

In [13]:
trappingWater(height)

IndexError: list index out of range

In [16]:
trappingWater(height)

10